@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$soft-red: hsl(10, 79%, 65%);
$gre-cyan: hsl(186, 34%, 60%);
$dark-text: hsl(25, 47%, 15%);
$medium-text: hsl(28, 10%, 53%);
$bg-light: hsl(27, 66%, 92%);
$pale-orange: hsl(33, 100%, 98%);

$font-size: 18px;
$DM-Sans: 'DM Sans', sans-serif;
$normal: 400;
$bold: 700;

$br-30: 30px;

